<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Project_F_OPH</display-name>
  <welcome-file-list>
    <welcome-file>index_pocetna.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletStart</display-name>
    <servlet-name>ServletStart</servlet-name>
    <servlet-class>Controller.ServletStart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletStart</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCreate</display-name>
    <servlet-name>AdminCreate</servlet-name>
    <servlet-class>Controller.AdminCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCreate</servlet-name>
    <url-pattern>/AdminCreate</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>AdminCreatePorudzba</display-name>
    <servlet-name>AdminCreatePorudzba</servlet-name>
    <servlet-class>Controller.AdminCreatePorudzba</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCreatePorudzba</servlet-name>
    <url-pattern>/AdminCreatePorudzba</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>AdminDelete</display-name>
    <servlet-name>AdminDelete</servlet-name>
    <servlet-class>Controller.AdminDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelete</servlet-name>
    <url-pattern>/AdminDelete</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>AdminEdit</display-name>
    <servlet-name>AdminEdit</servlet-name>
    <servlet-class>Controller.AdminEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEdit</servlet-name>
    <url-pattern>/AdminEdit</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>Controller.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>AdminRestoran</display-name>
    <servlet-name>AdminRestoran</servlet-name>
    <servlet-class>Controller.AdminRestoran</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRestoran</servlet-name>
    <url-pattern>/AdminRestoran</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>AdminTypeChange</display-name>
    <servlet-name>AdminTypeChange</servlet-name>
    <servlet-class>Controller.AdminTypeChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminTypeChange</servlet-name>
    <url-pattern>/AdminTypeChange</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>DostavaLogin</display-name>
    <servlet-name>DostavaLogin</servlet-name>
    <servlet-class>Controller.DostavaLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DostavaLogin</servlet-name>
    <url-pattern>/DostavaLogin</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>DostavaPorudzbine</display-name>
    <servlet-name>DostavaPorudzbine</servlet-name>
    <servlet-class>Controller.DostavaPorudzbine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DostavaPorudzbine</servlet-name>
    <url-pattern>/DostavaPorudzbine</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>DostavaPreuzmi</display-name>
    <servlet-name>DostavaPreuzmi</servlet-name>
    <servlet-class>Controller.DostavaPreuzmi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DostavaPreuzmi</servlet-name>
    <url-pattern>/DostavaPreuzmi</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>DostavaVozilo</display-name>
    <servlet-name>DostavaVozilo</servlet-name>
    <servlet-class>Controller.DostavaVozilo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DostavaVozilo</servlet-name>
    <url-pattern>/DostavaVozilo</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>KorisnikKreiranjePorudzbine</display-name>
    <servlet-name>KorisnikKreiranjePorudzbine</servlet-name>
    <servlet-class>Controller.KorisnikKreiranjePorudzbine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KorisnikKreiranjePorudzbine</servlet-name>
    <url-pattern>/KorisnikKreiranjePorudzbine</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>KorisnikOmiljeniRestorani</display-name>
    <servlet-name>KorisnikOmiljeniRestorani</servlet-name>
    <servlet-class>Controller.KorisnikOmiljeniRestorani</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KorisnikOmiljeniRestorani</servlet-name>
    <url-pattern>/KorisnikOmiljeniRestorani</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>ServletLogin</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>Controller.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
      <servlet>
    <description></description>
    <display-name>ServletSignUp</display-name>
    <servlet-name>ServletSignUp</servlet-name>
    <servlet-class>Controller.ServletSignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSignUp</servlet-name>
    <url-pattern>/ServletSignUp</url-pattern>
  </servlet-mapping>
  
  
</web-app>